{% extends "base.html.twig" %}
{% set title = "Info de la categorie" %}

{% block title title %}
{# {% block title "Info de la categorie" %} #}

{% block body %}
    <h1>{{ title }}</h1>

    <dl>
        <dt>ID</dt>
        <dd>{{ category.id }}</dd>

        <dt>Name</dt>
        <dd>{{ category.name }}</dd>

        <dt>Description</dt>
        <dd>{{ category.description }}</dd>

        <dt>Color</dt>
        <dd>
            {{ category.color }}
            <span style="background-color: {{category.color}}; color:  {{category.color}};">{{ category.color }}</span>
        </dd>

        <dt>Action</dt>
        <dd>
            <a href="{{ url('app_category_update', {id: category.id}) }}">Editer</a>
            <a href="{{ url('app_category_delete', {id: category.id}) }}">Supprimer</a>
        </dd>
    </dl>

   {{ dump(category) }}   

© 2022
{% endblock %}
 