{{ form_start(form) }}

    {# Title #}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_help(form.title) }}
    </div>

    {# Description #}
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_help(form.description) }}
    </div>

    {# Price #}
    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}
        {{ form_help(form.price) }}
    </div>

    <button type="submit">{{ btn_label | default("Ajouter une catégorie") }}</button>
    
    {{ form_end(form) }}