{{ form_start(form, {'attr': {'novalidate': "novalidate"}}) }}


{# CSRF Token #}
{{ form_widget(form._csrf_product_token) }}

    {# Title #}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_help(form.title) }}
    </div>

    {# Description #}
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_help(form.description) }}
    </div>

    {# Price #}
    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}
        {{ form_help(form.price) }}
    </div>

    {# Brand #}
    <div class="form-group">
        {{ form_label(form.brand) }}
        {{ form_widget(form.brand) }}
        {{ form_errors(form.brand) }}
        {{ form_help(form.brand) }}
    </div>

    {# Categories #}
    {# <div class="form-group">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories) }}
        {{ form_errors(form.categories) }}
        {{ form_help(form.categories) }}
    </div> #}

    <button type="submit">{{ btn_label | default("Ajouter un produit") }}</button>
    
    {{ form_end(form, {'render_rest': false}) }}