{% extends 'base.html.twig' %}
{% set title = "Ajouter un produit" %}


{% block title %}{{ title }}- {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}<h1>

{{ form_start(form, {'attr': {'novalidate': "novalidate"}}) }}

{#  CSRF Token #}
{{ form_widget(form._csrf_product_token) }}

{# Nom du produit #}
<div class="form-group">
  {{ form_label(form.title) }}
  {{ form_widget(form.title) }}
  {{ form_errors(form.title) }}
  {{ form_help(form.title) }}
</div>

{# prix du produit #}
<div class="form-group">
  {{ form_label(form.price) }}
  {{ form_widget(form.price) }}
  {{ form_errors(form.price) }}
  {{ form_help(form.price) }}
</div>

{# description du produit #}
<div class="form-group">
  {{ form_label(form.description) }}
  {{ form_widget(form.description) }}
  {{ form_errors(form.description) }}
  {{ form_help(form.description) }}
</div>

{# {{ form_widget(form) }} #}

<button type="submit">Ajouter le produit</button> 

{{ form_end(form, {'render_rest': false}) }}


{# {{ dump(form) }} #}

{# 
<form action="{{ url('app_catalog_create') }}" method="post">
  
  <div class="form-group">
    <label for="title">Nom du produit</label>
    <input type="text" id="title" name="title">
  </div>

  <div class="form-group">
    <label for="price">Prix du produit</label>
    <input type="number" step="0.01" id="price" name="price">
  </div>

  <div class="form-group">
    <label for="description">Description du produit</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
  </div>

  <button type="submit">Ajouter le produit</button> 

</form> 
#}



{% endblock %}