{% extends "base.html.twig" %}

{% block title %}{{ product.title }} - {{ parent() }}{% endblock %}
{# {% block title "Info du produit" %} #}

{% block body %}
    <h1>{{ product.title }}</h1>

    <p>description : {{ product.description }}</p>
    <p>prix : {{ product.price }} &euro;</p>
    <p>Marque : {{ product.brand.name }}</p>

    <hr>

    <a href="{{ url('app_product_update', {id: product.id}) }}">Modifier</a> - 
    <a href="{{ url('app_product_delete', {id: product.id}) }}">Supprimer</a>
{% endblock %}