{% extends 'base.html.twig' %}
{% set title = "Ajouter un produit" %}


{% block title %}{{ title }}- {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}<h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit">Ajouter le produit</button> 

{{ form_end(form) }}


{# {{ dump(form) }} #}

{# 
<form action="{{ url('app_catalog_create') }}" method="post">
  
  <div class="form-group">
    <label for="title">Nom du produit</label>
    <input type="text" id="title" name="title">
  </div>

  <div class="form-group">
    <label for="price">Prix du produit</label>
    <input type="number" step="0.01" id="price" name="price">
  </div>

  <div class="form-group">
    <label for="description">Description du produit</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
  </div>

  <button type="submit">Ajouter le produit</button> 

</form> 
#}



{% endblock %}